body{
    margin-left: 0%;
    margin-right: 0%;
   
}


#titre{
  
    padding: 5px;
    margin-left: 20em;
    margin-right: 20em;
    border:double 1px rgb(184, 194, 147);
    border-width: 5px;
    background-color: rgba(10, 10, 10, 0.658);
}






   
 
#Bio{
    font-size: 30px;
    color: rgb(186, 196, 96);
    text-decoration: underline;   
    text-align:center;
    
    margin-left: 18.9em;
    margin-right: 18.9em;
    background-color:rgba(0, 0, 0, 0.6) ; ;
    
}
   
  
    #TextBio{
        background-color: rgba(142, 148, 151, 0.600);
        color: rgb(3, 3, 3);
        font-size: 20px;
      text-align:center;
      border-width: 10px;
      padding: 6px;
      margin-left: 5em;
      margin-right: 5em;
      border:double 1px rgb(184, 194, 147);
      border-width: 2px;
      
}

#DF{
    text-align: center;
    font-size: 30px;
    color: rgb(186, 196, 96);
    text-decoration: underline;
    
    margin-left: 18em;
    margin-right: 18em;
    background-color:rgba(0, 0, 0, 0.6) ; ;
}

#TextDipForm{
    background-color: rgba(142, 148, 151, 0.300);
    font-size: 20px;
    text-align: center;
    border-width: 10px;
    padding: 6px;
    margin-left: 5em;
    margin-right: 5em;
    border:double 1px rgb(184, 194, 147);
    border-width: 2px;
}
#TextDC{
    text-align: center;
    font-size: 20px;
    background-color: rgb(81, 230, 185);}

#Comp{
    text-align: center;
    font-size: 30px;
    color: rgb(186, 196, 96);
    text-decoration: underline;
    
    margin-left: 20em;
    margin-right: 20em;
    background-color:rgba(0, 0, 0, 0.6) ;
}

#DivComp{
    text-align: center;
    font-size: 20px;
    background-color: rgba(142, 148, 151, 0.500);
    border-width: 10px;
    padding: 6px;
    margin-left: 5em;
    margin-right: 5em;
    border:double 1px  rgb(184, 194, 147);
    border-width: 2px;
}

#Exp{
    text-align: center;
    font-size: 30px;
    color:rgb(186, 196, 96);
    text-decoration: underline;
    
      border-width: 2px;
      margin-left: 17em;
      margin-right: 17em;
      background-color:rgba(0, 0, 0, 0.6) ;
}

#EX{
    background-color: rgba(142, 148, 151, 0.400);
    color: rgb(3, 3, 3);
    font-size: 20px;
  text-align:center;
  border-width: 10px;
  padding: 6px;
  margin-left: 2em;
  margin-right: 2em;
  border:double 1px  rgb(184, 194, 147);
  border-width: 2px;
}

#Qual{
    text-align: center;
    font-size: 30px;
    color: rgb(186, 196, 96);
    text-decoration: underline;
    
     
      
      margin-left: 18em;
      margin-right: 18em;
      background-color:rgba(0, 0, 0, 0.6) ;
}
    

#QP{
    background-color: rgba(142, 148, 151, 0.300);
    color: rgb(3, 3, 3);
    font-size: 20px;
  text-align:center;
  border-width: 10px;
  padding: 6px;
  margin-left: 5em;
  margin-right: 5em;
  border:double 1px  rgb(184, 194, 147);
  border-width: 2px;
}

#photo{
    color: rgb(68, 10, 32);
    font-size: 30px;
}

#video{
    color: rgb(68, 10, 32);
    font-size: 30px;
}
#photographie{
    color: rgb(68, 10, 32);
    font-size: 30px;
}
#dessin{
    color: rgb(68, 10, 32);
    font-size: 30px;
}

#ExempleProjet{
    color: brown;
}

#background_image{
    background-image: url(./44.jpg);
    /* background-repeat: no-repeat; */
    background-size:contain
}



